{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlows</title>
    <link rel="stylesheet" href="{% static '/reminders/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'reminders:index' %}">TaskFlows</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'reminders:index' %}">Home</a></li>
                <li><a href="{% url 'reminders:index' %}">New Reminder</a></li>
                <li><a href="{% url 'reminders:index' %}">Calendar</a></li>
                <!-- Add other navigation links here -->
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>© 2024 TaskFlows. All rights reserved.</p>
    </footer>
</body>
</html>
