{% extends "reminders/base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="reminder-list">
    {% if latestReminderList %}
        <ul>
        {% for reminder in latestReminderList %}
            <li>
                <a href="{% url 'reminders:detail' reminder.id %}">{{ reminder.reminderDescription }}</a>
                <p>{{ reminder.reminderDueDateEnd }}</p>
                <form action="{% url 'reminders:toggleCompletion' reminder.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="complete-btn">Toggle Completion</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No reminders are available.</p>
    {% endif %}
</div>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log in.</a>
{% endif %}

{% endblock %}
